@font-face {
  font-family: Crackman;
  src: url(./crackman.ttf);
}
body, html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    font-family: Verdana;
    font-size: 20px;
    color: #000000;
    background-color: #000000;
    text-align: center; }
  
  *, *:before, *:after {
    box-sizing: border-box; }
  
  #main {
    display: inline-block;
    width: 95%;
    max-width: 600px; }
  #title {
      color: white;
      font-family: "Crackman", Verdana;
      height: fit-content;
      margin-bottom: -20px;
      letter-spacing: 5px;
    }
  #score {
      font-family: Verdana;
      color: white;
      font-size: 18px;
      text-align: right;
      margin-top: 20px; }
  #score span {
        font-size: 24px; }
  #canvas canvas {
      position: relative; }
  #canvas canvas.left {
        transform: translate3d(-2px, 0px, 0px); }
  #canvas canvas.right {
        transform: translate3d(2px, 0px, 0px); }
  #canvas canvas.up {
        transform: translate3d(0px, -2px, 0px); }
  #canvas canvas.down {
        transform: translate3d(0px, 2px, 0px); }
  #controls {
      font-family: Verdana;
      font-size: 18px;
      letter-spacing: 2px;
      line-height: 28px;
      margin: 10px; 
    color: white;}
  #controls b {
        color: #eb1a1a; }
  
  .button {
    box-shadow: 4px 5px 0px #1d1d1d;
    border: 2px solid #1d1d1b;
    background-color: #ffcc00; }
    .button.clicked {
      transform: translate3d(calc(-110% + 5px), 5px, 0);
      box-shadow: 0px 0px 0px #b4b44e; }
  

#titleScreen{
  padding-top: 3em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.menu {
  margin-bottom: 1em;
  width: 45%;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  cursor: pointer;
}
.menu:hover{
  background-color: rgb(104, 102, 102);
}
.hidden{
  display: none;
}
